.navbar{
    flex-direction: column;    
    width: 100vh;
}
#home,#form,#basic,#content,#footer{
    width: 100vh;
}

#home h1{
    font-size: 3rem;
}

#home p{
    margin-top: 24px;
    padding: 12px;
}